body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: #fcff43;

    transition: background-color 2.0s ease;
}

body.relax-mode {
    background: #69fb7e;
}

body.stress-mode {
    background: #c20000;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
}

button {
    display: block;
    margin: 12px auto;
    padding: 15px;
    width: 280px;
    font-size: 1.2em;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-weight: bold;

    transition: all 0.2s ease;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#relaxBtn {
    background-color: #91f5a0;
}

#stressBtn {
    background-color: #ff6b6b;
}

#modeSelect {
    margin-top: 40px;
}

#questionOptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
}

    .qBtn {
        width: 100%;
        background-color: white;
    }

    .qBtn.selected {
    background-color: rgb(1, 84, 8);
    color: white;
}

#answers {
    opacity: 1;
}


#answers button {
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#answers.show {
    opacity: 1;
}

.answers-locked button:hover {
    transform: none;
    box-shadow: none;
}

button.selected-answer {
    outline: 4px solid #333;
}

button.correct {
    background-color: #4CAF50 !important;
    color: white;
}

button.incorrect {
    background-color: #e74c3c !important;
    color: white;
}


#startBtn,
#restart {
    background-color: white;
    font-weight: bold;
}

#restart {
    margin-top: 20px;
}

#resultsTable table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

#resultsTable th,
#resultsTable td {
    padding: 10px 12px;
    border: 1px solid #333;
    text-align: left;
}

#resultsTable th {
    background: #727876;
}

#resultsTable td {
    white-space: normal;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    transition: opacity 0.3s ease;
}

#loadingOverlay.active {
    pointer-events: all;
}