body {
    font-family: Arial;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 220px;
    cursor: pointer;
}

#restart {
    margin-top: 20px;
}

#resultsTable table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

#resultsTable th,
#resultsTable td {
    padding: 10px 12px;
    border: 1px solid #333;
    text-align: left;
}

#resultsTable th {
    background: #727876;
}

#resultsTable td {
    white-space: normal;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;

    background-color: #fcff43;
    color: black;
}